.chart svg .canvas { border: 1px solid #ecf0f1; }

.chart svg .canvas path.line { fill: none; stroke-width: 1.5; stroke-linecap: round; shape-rendering: auto; }

.chart svg .canvas path.line.all-property-types { stroke: #f39c12; }

.chart svg .canvas path.line.detached-houses { stroke: #27ae60; }

.chart svg .canvas path.line.semi-detached-houses { stroke: #2980b9; }

.chart svg .canvas path.line.terraced-houses { stroke: #8e44ad; }

.chart svg .canvas path.line.flats-and-maisonettes { stroke: #2c3e50; }

body { font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; }

body h1 { font-size: 1.5em; }

body .nav { background: #34495E; padding: 0.5em; }

body .nav a { color: #ecf0f1; font-weight: bold; }

body .nav a.active { color: white; }

body .container { margin: 0 auto; width: 100%; padding-top: 1em; }

body .container .alert-primary { background: #2ecc71; color: white; border: none; }

body .container .alert-primary a { text-decoration: underline; font-weight: bold; color: white; }

body .container .btn-primary { background: #1abc9c; border: none; color: white; }
