.chart {
	svg {
		.canvas {
			border: 1px solid $grey;

      path.line {
        fill: none;
        stroke-width: 1.5;
        stroke-linecap: round;
        shape-rendering: auto;

        &.all-property-types {
          stroke: $all;
        }

        &.detached-houses {
          stroke: $detachedHouses;
        }

        &.semi-detached-houses {
          stroke: $semiDetachedHouses;
        }

        &.terraced-houses {
          stroke: $terracedHouses;
        }

        &.flats-and-maisonettes {
          stroke: $flatsAndMaisonettes;
        }
      }
		}
	}
}
