// UI colours
$grey: #ecf0f1;
$red: #e74c3c;
$white: white;
$success: #2ecc71;
$button: #1abc9c;
$navbar: #34495E;

// Category colours
$all: #f39c12;
$detachedHouses: #27ae60;
$semiDetachedHouses: #2980b9;
$terracedHouses: #8e44ad;
$flatsAndMaisonettes: #2c3e50;
